@charset "UTF-8";

:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #f8f8f8;
    --cor4: #3b3b3b;

    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: Manufacturing Consent;
    --fonte3: Grenze Gotisch;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte3);
    background-color: var(--cor3);
    color: var(--cor2);
}

header {
    background-color: var(--cor2);
}

header>h1,
p {
    text-align: center;

}

.slogan {
    color: var(--cor1);
    font-size: 0.7rem;
}

nav>ul {
    background-color: var(--cor1);
    display: flex;
    height: 40px;
    padding: 0.5rem;
    list-style: none;
    justify-content: center;
    gap: 2rem;
}

a {
    color: var(--cor2);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out ;

}

.fn {
    color: var(--cor1);
}

a:hover {
    padding: 5px;
    background-color: var(--cor2);
    color: var(--cor1);
}

section {
    display: flex;
    align-items: center;
    height: calc(100vh - 103px);
    justify-content: center;
    flex-direction: column;
}


section>p {
    font-family: var(--fonte2);
    font-size: 25px;
    padding: 25px;
    width: 400px;
    display: flex;
    align-items: center;
    line-height: 1.2em;
}

button {
    background-color: var(--cor2);
    color: var(--cor1);
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
}

div > h1 {
    text-align: center;
    margin: 50px;
}

img {
    padding: 40px;
    
}

.img {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}

.imgcard {
    text-align: center;
    border: 2px solid black;
    width: 350px;
    margin: auto;
    
}